:root {
    --color-general: #637381;
    --color-grey: #F6F9FB;   
    --color-text: #000000;
    --color-yellow: #FFDD53;
    --color-green: #00B050;
    --color-red: #FF1720;
    --color-70: #707070;
    --color-5d: #5D5D5D;
    --color-f5: #F5F5F5;
    --color-db: #DBDBDB;
}