@charset "UTF-8";

/*
* varibales de color GBP
*/
$azul-primary: #32a3fd;
// $azul-primary: rgba(50,163,253);
$gris-primary: #6c757d;
$gris-secondary: #f4f4f4;
$gris-terciary: #F3F3F3;
$gris4: #AEBDC9;
$gris5: #C4D4E3;
$azul2-primary: #1b1464;
$azul-input: #000DAF;
$azul3:#25628F;
$azul4:#0090FF;
$azul5:#E1EBF5;
$verde-secondary: #81c784;
$verde2:#28a745;
$naranja-active: #FF8A65;
$amarillo1: #FFC107;
$rojo1: #DC3545;
$verde-menta:#33CFCA;
